@model Project2.Models.ImageModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ImageModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.imageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.imageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.imageFileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.imageFileName)
        </dd>
        <dt class="col-sm-2">
            Uploaded Image
        </dt>
        <dd class="col-sm-10">
            <img src="@("~/image/" + Model.imageFileName)" asp-append-version="true" style="width:300px" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.geoloaction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.geoloaction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.capturedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.capturedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.capturedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.capturedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.imageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
