@model IEnumerable<Project2.Models.ImageModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Images</h1>
<a align="right" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Back To Home Page</a>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.imageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageFileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.geoloaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.capturedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.capturedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.imageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.imageFileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.geoloaction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.capturedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.capturedBy)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.imageId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.imageId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.imageId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
